---
  layout: default
  rootpath: "/"
  navtitle: "Ferhat Avdic"
  links: 
    -
      text: "Portfolio"
      url: "#portfolio"
    -
      text: "Impressions"
      url: "#impressions"
    -
      text: "Projects"
      url: "#projects"
    -
      text: "Contact"
      url: "#contact"

---
      <div id="home">
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-3 mt-5 mb-5">
              <div class="landing d-flex flex-column justify-content-center align-items-center">
                <h1 class="m-0 display-4 display-black text-center"><strong>Ferhat <span class="text-primary">Avdic</span></strong></h1>
                <p class="mb-0 lead">Web Developer</p>
                <p>__</p>
                <p class="text-justify">
                  With a strong foundation and a hunger for knowledge, im ready to take on the next challenge. 
                  Having worked with several different technologies i quickly adapt to new environments. 
                  I like an open, honest and productive climate. 
                </p>
                <div class="w-100 d-flex justify-content-between">
                  <a href="" class="text-secondary">Download CV</a>
                  <a href="https://github.com/FerhatAvdic" target="_blank" class="text-secondary">Github</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mb-4">
        <a href="#portfolio" class="btn btn-lg btn-outline-light text-secondary btn-round"><i class="fas fa-chevron-down" style="font-size: 36px;"></i></a>
      </div>
      <!-- PORTFOLIO -->
      <div id="portfolio" class="anchor"></div>
      <div  class="container mb-5">
        <div class="row mb-3">
          {% for item in site.data.portfolio-items %}
          <div class="col-md-4 p-3">
            <div class="shadow">
              <a href="{{item.href}}"><img src="{{item.src}}" alt="{{item.alt}}" class="img-fluid border-bottom"></a>
              <div class="bg-light text-dark p-4">
                <p class="portfolio-head">{{item.alt}}</p>
                <p class="portfolio-desc">{{item.desc}}</p>
                <p class="text-secondary">
                  {% for tech in item.tech %}
                  <i>#{{tech}}</i>
                  {% endfor %}
                </p>
                <a href="{{item.href}}" class="btn btn-block btn-outline-primary">See more</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- Impressions -->
      <div id="impressions" class="anchor"></div>
      <div  class="mb-5 mt-5 text-light">
          <div class="container">
              <div id="carouselExampleControls" class="carousel slide carousel-fade carousel-adjust-textbox pt-5 pb-5" data-ride="carousel">
                <div class="row">
                  <div class="col-md-8 offset-md-2">
                    <div class="carousel-inner carousel-adjust-text">
                    {% for F in site.data.feedback %}
                        <div class="carousel-item
                        {% if forloop.first == true %} 
                          active 
                        {% endif %}">
                          <p><i>{{F.feedback}}</i></p>
                          <p><strong>-- {{F.client}}</strong>, {{F.project}}</p>
                        </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <i class="fa fa-angle-left" style="font-size: 36px"></i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <i class="fa fa-angle-right" style="font-size: 36px"></i>
                  <span class="sr-only">Next</span>
                </a>
              </div>
          </div>
      </div>  

      <!-- PROJECTS -->
      <div id="projects" class="anchor"></div>
      <div class="container mb-5">
        <div class="row mb-3">
          {% for item in site.data.project-items %}
          <div class="col-md-4 p-3">
            <div class="shadow">
              <a href="{{item.href}}"><img src="{{item.src}}" alt="{{item.alt}}" class="img-fluid border-bottom"></a>
              <div class="bg-light text-dark p-4">
                <p class="portfolio-head">{{item.alt}}</p>
                <p class="portfolio-desc">{{item.desc}}</p>
                <p class="text-secondary">
                  {% for tech in item.tech %}
                  <i>#{{tech}}</i>
                  {% endfor %}
                </p>
                <a href="{{item.href}}" class="btn btn-block btn-outline-primary">See more</a>
              </div>
            </div>
          </div>
          {% endfor %}
            <div class="col-md-4 p-3">
              <div class="shadow h-100">
                
                <div class="bg-light h-100 d-flex flex-column align-items-center justify-content-center text-dark p-4">
                  <p class="w-100 portfolio-head text-center"><a href="https://github.com/FerhatAvdic" class="text-dark"><i class="fab fa-github" style="font-size: 148px"></i></a></p>
                  <p class="w-100 portfolio-desc text-center"><a href="https://github.com/FerhatAvdic" class="text-dark">See All Projects</a></p>
                </div>
              </div>
            </div>
        </div>
      </div>

      <!-- ABOUT ME -->
      <div id="contact" class="bg-dark">
        <div class="container pt-5 pb-5">
          <div class="row">
            <div class="col text-center">
              <h3 class="mb-5">Contact me</h3>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-6 offset-md-3 text-center ">
              <p>Located in Sarajevo, Bosnia & Hercegovina<p>
                  <p>IT graduate, currently freelancing while completing masters degree. For all the business inquiries, send
                    me an email to ferhat.avdic@gmail.com.</p>
                  <h1>
                    <i class="fas fa-terminal"></i>
                    <i class="fab fa-git"></i>
                    <i class="fab fa-html5"></i>
                    <i class="fab fa-css3-alt"></i>
                    <i class="fab fa-js"></i>
                    <i class="fab fa-angular"></i>
                    <i class="fab fa-vuejs"></i>
                    <i class="fab fa-node-js"></i>
                    <i class="fas fa-database"></i>
                  </h1>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="row pb-5">
              <div class="col-md-6 offset-md-3">
                <div class="alerts">
                  <div class="mt-3 alert alert-danger alert-dismissible collapse" role="alert">
                    Please check your input
                    <button type="button" class="close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="mt-3 alert alert-success alert-dismissible collapse" role="alert">
                    Email successfully sent
                    <button type="button" class="close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
                <form id="contactForm">
                  <div class="form-group">
                    <label for="firstname">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Your full name" required>
                  </div>
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" required>
                  </div>
                  <div class="form-group mb-5">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" rows="4" required></textarea>
                  </div>
                  <div class="row">
                    <div class="col-md-6 offset-md-3">
                      <button id="emailBtn" type="submit" class="btn btn-outline-primary btn-block">
                        Send Email</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>