html {
    font-size: 16px;
    
} 
.pt-5rem{
  padding-top: 5rem;
}

.pb-5rem{
  padding-bottom: 5rem;
}

.carousel-adjust-text .carousel-item{
  text-align: justify;
  padding: 10% 20%;
}
.carousel-adjust-textbox{
  min-height: 400px;
}




body{
  overflow-x: hidden;
   font-family: 'Maven Pro';
}

.text-primary{
 color: #5e3eb8 !important;
}

.bg-primary {
  background: #5e3eb8 !important;
}
.btn-round{
  border-radius: 50%;
}
.bg-dark{
  background: #333333 !important;

}

.landing{
  height: 65vh;
}
.gradient-bg{
  /* background: linear-gradient(to bottom, #7369ff, #ffffff); */
}

.navbar-brand{
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 150px;
  text-align: center;
}

.display-black{
  font-family: 'Archivo Black';
}

